export EDITOR=nvim
export VISUAL=nvim
export MANPAGER="nvim +Man!"
export PATH="$HOME/.cargo/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"

{{- if eq .machine "desktop" }}
{{- else if eq .machine "laptop" }}
{{- else if eq .machine "csug" }}
{{- end }}
