export ZSH="$HOME/.oh-my-zsh"
export TERM=foot
export PATH="$HOME/.cargo/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"

{{- if eq .machine "desktop" }}
if uwsm check may-start 1>/dev/null && [ -z "${SSH_CONNECTION}" ]; then
    exec uwsm start hyprland.desktop
fi
{{- else if eq .machine "laptop" }}
if uwsm check may-start 1>/dev/null && [ -z "${SSH_CONNECTION}" ]; then
    exec uwsm start hyprland.desktop
fi
{{- else if eq .machine "csug" }}
export OPENMPI_HOME="/usr/lib64/openmpi"
export PATH="/usr/lib64/openmpi/bin:$PATH"
export LD_LIBRARY_PATH="/usr/lib64/openmpi/lib:$LD_LIBRARY_PATH"

{{- end }}
