[ids]
*

[main]

# fn = leftcontrol
# leftcontrol = leftmeta
# leftmeta = fn

capslock = timeout(esc, 500, capslock)

# Media controls
home = micmute
pageup = timeout(nextsong, 300, previoussong)
pagedown = up
